<div class="p-3">
  <div class="row m-0 w-100">
    <div class="col-6" *ngIf="['FIFO_ED_4', 'FIFO_LND_4'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-label>Час від {{minT}} до {{maxT}}</mat-label>
      <mat-slider min="0" max="100" class="w-100">
        <input [(ngModel)]="minT"  matSliderStartThumb>
        <input [(ngModel)]="maxT" matSliderEndThumb>
      </mat-slider>
    </div>
    <div class="col-6" *ngIf="['FIFO_ED_1', 'FIFO_ED_3', 'FIFO_LND_1', 'FIFO_LND_3'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-label>Лямбда (інтенсивність надходження) від {{minLambda}} до {{maxLambda}}</mat-label>
      <mat-slider min="0" max="100" class="w-100">
        <input [(ngModel)]="minLambda"  matSliderStartThumb>
        <input [(ngModel)]="maxLambda" matSliderEndThumb>
      </mat-slider>
    </div>
    <div class="col-6" *ngIf="['FIFO_ED_2', 'FIFO_LND_2'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-label>Кількість людей у черзі від {{minN}} до {{maxN}}</mat-label>
      <mat-slider min="0" max="100" class="w-100">
        <input [(ngModel)]="minN"  matSliderStartThumb>
        <input [(ngModel)]="maxN" matSliderEndThumb>
      </mat-slider>
    </div>
    <div class="col-6" *ngIf="['FIFO_ED_1', 'FIFO_ED_2', 'FIFO_ED_3', 'FIFO_ED_4'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Мю (інтенсивність обслуговування)</mat-label>
        <input matInput type="number" [(ngModel)]="mu" [min]="1" [max]="100" step="1" placeholder="Мю">
        <mat-error *ngIf="mu < 1 || mu > 100">
          1 ... 100
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="['FIFO_ED_2', 'FIFO_ED_4', 'FIFO_LND_2', 'FIFO_LND_4'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Лямбда (інтенсивність надходження)</mat-label>
        <input matInput type="number" [(ngModel)]="lambda" [min]="1" [max]="100" step="1" placeholder="Мю">
        <mat-error *ngIf="lambda < 1 || lambda > 100">
          1 ... 100
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="['FIFO_LND_1', 'FIFO_LND_2', 'FIFO_LND_3', 'FIFO_LND_4'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Мю LnD</mat-label>
        <input matInput type="number" [(ngModel)]="lndMean" step="1" placeholder="Мю">
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="['FIFO_LND_1', 'FIFO_LND_2', 'FIFO_LND_3', 'FIFO_LND_4'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Сігма LnD</mat-label>
        <input matInput type="number" [(ngModel)]="lndDispersion" [min]="0" [max]="100" step="1" placeholder="Мю">
        <mat-error *ngIf="lndDispersion < 0 || lndDispersion > 100">
          0 ... 100
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="['FIFO_LND_1', 'FIFO_LND_2', 'FIFO_LND_3', 'FIFO_LND_4'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Час сімуляцii</mat-label>
        <input matInput type="number" [(ngModel)]="simulationTime" [min]="0" [max]="1000" step="1" placeholder="Мю">
        <mat-error *ngIf="simulationTime < 0 || simulationTime > 1000">
          0 ... 1000
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="['FIFO_LND_1', 'FIFO_LND_2', 'FIFO_LND_3', 'FIFO_LND_4'].includes(discipline+'_'+distribution+'_'+metricNumber)">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Кількість сімуляцiй</mat-label>
        <input matInput type="number" [(ngModel)]="simulationNum" [min]="0" [max]="1000" step="1" placeholder="Мю">
        <mat-error *ngIf="simulationNum < 0 || simulationNum > 1000">
          0 ... 1000
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <canvas #acquisitions style="max-height:600px; height: 600px; width: 100%;"></canvas>
  </div>
</div>
