<main class="main">
  <div class="header">
    <mat-toolbar>
      <span>Параметризоване моделювання систем масового обслуговування M|G|1</span>
    </mat-toolbar>
  <div class="content">
    <mat-tab-group>
      <mat-tab label="Кількість у черзі"> Content </mat-tab>
      <mat-tab label="Час очікування"> Content </mat-tab>
      <mat-tab label="Час в системі"> Content </mat-tab>
      <mat-tab label="Порожня система"> Content </mat-tab>
      <mat-tab label="Продуктивність"> Content </mat-tab>
    </mat-tab-group>
  </div>
  </div>
</main>

<!--Not needed-->
<!--<router-outlet />-->
